################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DistribPluginFFXIV/FileContentIndex
/.vs/DistribPluginFFXIV/v17/.wsuo
/.vs/DistribPluginFFXIV/v17/DocumentLayout.json
/.vs
